@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100vh;
  width: 100vw;
  font-family: 'Silkscreen', sans-serif;
}
body {
  @apply font-sans;
}

.font-sans {
  font-family: 'Slabo 27px', serif;
}

.app-font {
  font-family: 'Slabo 27px',  serif;
}