@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100vh;
  width: 100vw;
  font-family: "DM Sans", sans-serif;
  position:relative;
  background: #4b4a4a00;;
}
